* {
    padding: 0px;
    margin: 0px;
}


.common-btn {
    background-color: #1D4ED8;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;

}

/*style for nav*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: black;
}

/*
ul>li{
    justify-content: center;
}*/
.container {
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFFF;
}

.logo-icon {
    font-weight: bold;
    font-size: 15px;
}


/*starting working on hero section*/

.hero-container {
    background-color: #FFFFFF;
    background-position-x: 0;
    background-position-y: 98;
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1551px;
    height: 786px;
    border: #1D4ED8;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

.code p {
    color: #FFFFFF;
    font: weight 900px;
    font-size:60px;
    font: bold;
    justify-content:center ;
    align-items: baseline;
    align-content: center;
    padding: 60px;
    margin: 60px;
}
.hero-container ul{
  display: flex;
    justify-content:end;
    align-items:end;
    align-content: center;
}
   
  
    
